.ru_rushad_calendar{
  position: absolute;
  background-color: whitesmoke;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
  padding: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.ru_rushad_calendar_month{
  position: relative;
}

.ru_rushad_calendar_month th {
  font-weight: normal;
  width: 14.28%;
  padding-left: 3px;
  padding-right: 3px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#ru_rushad_calendar_initial_date {
  padding: 5px;
  margin-bottom: 5px;
  font-size: 0.7em;
  cursor: pointer;
  color: blue;
}

#ru_rushad_calendar_title {
  cursor: pointer;
}

#ru_rushad_calendar_left {
  float: left;
  width: 20px;
  cursor: pointer;
}

#ru_rushad_calendar_right {
  float: right;
  width: 20px;
  cursor: pointer;
}
